*{
	padding: 0;
	margin: 0;
	border: none;
}
body{
	padding: 20px;
	max-width: 100%;
	color: #fff;
	font-family: verdana;
	background-color: #F5EFFB;
}
h2{
	margin-bottom: 20px;
	font-family: arial;
}
p{
	text-align: justify;
	margin-bottom: 10px;
}
header, section, footer{
	background-color: #FFBF00;
}

header{
	margin-bottom: 20px;
	padding: 20px;
}
section{
	margin-bottom: 20px;
	padding: 20px;
	display: inline-block;
}
footer{
	padding: 20px;
}

/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 320px) { 
	img{
		width: 100%;
		height: auto;
	}
}

/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 360px) { }

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) { }
 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) { 
	img{
		width: 50%;
		height: auto;
		float: left;
		margin-right: 20px;
		min-width: 320px;
		border-radius: 10px;
	}
}
 
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { }