<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Layout 4</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<!--Contenedor principal-->
	<div id="container">
		<div class="row">
			<div class="col-12">
				<header>
					<h1>Encabezado de la página</h1>
					<nav>
						<ul>
							<li><a href="#">Inicio</a></li>
							<li><a href="#">Servicios</a></li>
							<li><a href="#">Productos</a></li>
							<li><a href="#">Portafolio</a></li>
							<li><a href="#">Contacto</a></li>
						</ul>
					</nav> 
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-8">
				<section>
					<h2>Enbezado de la sección</h2>
					<article>
						<h3>Encabezado del artículo</h3>
						<img src="img/pradera.jpg" alt="Pradera">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam doloribus eveniet sunt reiciendis cum blanditiis quam illo ipsa et dignissimos iste ratione, molestias, debitis eos architecto est doloremque voluptatum inventore.</p>

						<p>Magnam voluptatibus explicabo iste, tempora, autem dolorum, odit a qui provident cum architecto? Alias quibusdam nam autem, aliquam debitis magni deserunt quas, praesentium repellendus ad asperiores saepe, est eveniet consequuntur.</p>
					</article>
				</section>
			</div>
			<div class="col-2">
				<aside>Barra lateral</aside>
			</div>
			<div class="col-2">
				<aside>Barra lateral</aside>
			</div>			
		</div>
		<div class="row">
			<div class="col-12">
				<footer>
					<p>Pie de pagina | Derechos reservados</p>
				</footer>
			</div>
		</div>

	</div>