<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 2</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--Contenedor principal-->
	<div id="container">
		<div class="row">
			<div class="col-12 first last">
				<header>
					<h1>Encabezado de la página</h1>
					<nav>
						<ul>
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
							<li><a href="#">Item 4</a></li>
							<li><a href="#">Item 5</a></li>
						</ul>
					</nav>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<section>
					<h2>Enbezado de la sección</h2>
					<article>
						<h3>Encabezado del artículo</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam doloribus eveniet sunt reiciendis cum blanditiis quam illo ipsa et dignissimos iste ratione, molestias, debitis eos architecto est doloremque voluptatum inventore.</p>

						<p>Magnam voluptatibus explicabo iste, tempora, autem dolorum, odit a qui provident cum architecto? Alias quibusdam nam autem, aliquam debitis magni deserunt quas, praesentium repellendus ad asperiores saepe, est eveniet consequuntur.</p>
					</article>
				</section>
			</div>
			<div class="col-3">
				<aside>Barra lateral</aside>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<footer>
					<p>Pie de pagina | Derechos reservados</p>
				</footer>
			</div>
		</div>

	</div>