<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>One column wide</title>
	<link rel="stylesheet" type="text/css" href="style-one-column-wide.css">
</head>
<body>
	<header>
		<h1>One column wide</h1>
	</header>
	<section>
		<h2>Sección de texto</h2>
		<img src="img/pradera.jpg">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident commodi dolore voluptatibus suscipit ipsam ducimus voluptate aut reprehenderit, delectus repellendus pariatur maiores, eos neque! Consequatur ex odio, sed aspernatur? Dolor?</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sint quas, aperiam in sed. Vel non necessitatibus ipsum, magnam tenetur dolores perspiciatis aperiam, rerum, officiis quia voluptate eveniet ducimus vero.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex similique facere, ducimus quis cupiditate recusandae quasi repellat dolore autem laborum alias perferendis assumenda libero laudantium quos, maiores labore dolorum veritatis.</p>
	</section>
	<footer>
		<h3>Footer</h3>
	</footer>
	
</body>
</html>